:root {
  --bordas: #757575;
	--principal: #0059b3;
	--principalHover: #014487;
	--principalLight: rgba(52,152,219,.15);
	--textos: #5d5d5d;
  --titulos: #aaa;
	--hover: rgba(0,0,0,.2);
  --erro: #c0392b;
  --feedback: #323232;
  --menu: #1a1a1a;
  --menuTextos: rgba(255,255,255,.8);
  --menuScroll: #8a9bb2;
  --menuLight: #3b434e;
  --alerta: #f1c40f;
  --resolvido: #13ba5a;
  --dots: #ccc;
}

body {
	font-family: Trebuchet MS !important;
	font-size:14px !important;
  overflow: hidden;
  width: 100vw;
	height: 100vh;
	margin: 0;
  display: flex;
}

.red {
  color: var(--erro) !important;
}

.green {
  color: var(--resolvido) !important;
}

.simpleInput {
  font-size: 14px;
  color: var(--textos);
  width: 100%;
  font-weight: 400;
  font-family: "Trebuchet MS";
  text-align: center;
  margin: -8px 0px 0px 0px;
  border: 0px;
  border-bottom: solid 1px var(--titulos);
  padding-bottom: 4px;
  outline: none;
  cursor: text !important;
}

.simpleInput::placeholder {
  color: var(--titulos);
}

.group {
  position: relative;
  margin: 0px 8px 0px 8px;
  width: 100%;
}

.inpt {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: calc(100% - 15px);
  border: none;
  border-bottom: 1px solid var(--bordas);
}

.inpt:focus {
  outline: none;
}

.inpt:focus ~ .bar:before, .inpt:focus ~ .bar:after {
  width: 50%;
}

.inpt:focus ~ .lbl, .inpt:valid ~ .lbl {
  top: -20px;
  font-size: 15px;
  color: var(--principal);
}

.inpt:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.highlight {
	position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.bar {
	position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--principal);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.lbl {
  color: var(--titulos);
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#load ::after, #load ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#load {
  width: inherit;
  min-width: 250px;
  height: 100%;
  position: absolute;
  opacity: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 998;
	transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#load img {
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
}

#menu {
  background-color: var(--menu);
  width: 250px;
  min-width: 250px;
  height: 100%;
  color: var(--menuTextos);
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.menu-group {
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.menu-group::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background: rgba(0,0,0,0);
  padding-right: 2px;
}

.menu-group::-webkit-scrollbar-thumb {
  background: var(--menuScroll);
}

.menu-group img {
  width: 30px;
  padding: 12px;
}

.menu-group:nth-child(1) {
  border-bottom: solid 1px var(--menuLight);
  cursor: pointer !important;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.menu-group:nth-child(1):hover {
  background-color: var(--menuLight);
}

.menu-group:nth-child(2) {
  overflow: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-direction: column;
}

.menu-section {
  width: 100%;
  padding: 12px 0px 12px 0px;
  border-bottom: solid 1px var(--menuLight);
}

.menu-titulo {
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-left: 20px;
  line-height: 40px;
  cursor: default !important;
}

.menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-bottom: -1px;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.menu-item i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.menu-item:hover {
  background-color: var(--menuLight);
}

.menu-group:nth-child(3) {
  min-height: 50px;
  max-height: 50px;
  border-top: solid 1px var(--menuLight);
  display: flex;
  align-items: center;
  color: inherit;
}

.menu-group:nth-child(3) a {
  color: inherit;
  margin: auto;

}

.menu-group:nth-child(3) i {
  font-size: 18px;
  width: 18px;
  padding: 13px 12px;
  height: 18px;
  border-radius: 44px;
  cursor: pointer !important;
  margin: auto;
}

.menu-group:nth-child(3) i:hover {
  background-color: var(--menuLight);
}

#listagem {
  width: calc(100% - 250px);
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100% - 4px);
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-right: 4px;
  position: relative;
}

#listagem::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
  background: white;
}

#listagem::-webkit-scrollbar-thumb {
  background: #aaa;
}

#feedback {
  background-color: var(--feedback);
  color: white;
  font-size: 14px;
  width: 450px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  padding: 22px;
  z-index: 999;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#error {
  background-color: var(--erro);
  color: white;
  font-size: 14px;
  width: 450px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  padding: 22px;
  z-index: 999;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

filtro {
  width: calc(100% - 12px);
  display: flex;
  margin: 8px 4px 4px 8px;
  border-bottom: solid 1px var(--bordas);
  padding: 8px 0px 8px 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  border-radius: 28px
}

filtro section {
  width: calc(100% - 24px);
  padding-right: 12px;
  padding-left: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

filtro section:nth-child(1) {
  border-right: solid 1px var(--bordas);
}

filtro section:nth-child(2) {
  border-right: solid 1px var(--bordas);
}

filtro section:nth-child(3) {
  border-right: solid 1px var(--bordas);
}

filtro section:nth-child(4) {
  border-right: solid 1px var(--bordas);
}

filtro section:nth-child(5) {
  border-right: solid 1px var(--bordas);
}

filtro section:nth-child(6) {
  border-right: solid 0px var(--bordas);
}

.filtroTitulo {
  font-size: 12px;
  color: var(--titulos);
  width: 100%;
  text-align: center;
  margin: 0px 0px 8px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filtroText{
  font-size: 14px;
  color: var(--textos);
  width: 100%;
  font-weight: 600;
  text-align: center;
  margin: 8px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filtroText select {
  margin: auto;
  border: none;
  text-align-last: center;
  outline: none;
  font-weight: 600 !important;
  color: var(--textos);
  font-size: 14px;
}

.filtroText select option {
  text-align-last: center;
}

.filtroText i {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  line-height: 20px;
  border-radius: 10px;
  cursor: pointer !important;
  padding: 2px;
  position: absolute;
  margin-top: -3px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.filtroText i:hover {
  background-color: var(--hover);
}

legenda {
  font-size: 11px;
  color: var(--titulos);
  display: flex;
}

.legenda {
  min-width: 10px;
  width: 10px;
  min-height: 10px;
  height: 10px;
  margin-right: 8px;
  float: left;
}

legenda:nth-of-type(1) .legenda {
  background-color: var(--erro);
}

legenda:nth-of-type(2) .legenda {
  background-color: var(--alerta);
}

legenda:nth-of-type(3) .legenda {
  background-color: var(--principal);
}

leitura {
  width: calc(25% - 12px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 4px 4px 4px 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  border-radius: 4px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

leitura i {
  border-radius: 14px;
  padding: 4px;
  padding-right: 5px;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;

}

leitura i:hover {
  background-color: var(--hover);
}

.leituraTitulo {
  background-color: var(--principal);
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  padding: 4px 4px 4px 8px;
  width: calc(100% - 12px);
}

.leituraTituloNome {
  max-width: 100%;
  height: 100%;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
  cursor: default !important;
}

.leituraTitulo i {
  text-align: center;
  opacity: 0;
  min-width: 0px !important;
  max-width: 0px;
  display: block;
  cursor: pointer !important;
  font-size: 18px;
  line-height: 20px;
}

.leituraTitulo:hover .leituraTituloNome {
  padding-right: 8px;
  max-width: calc(100% - 8px);
}

.leituraTitulo:hover .fas {
  opacity: 1;
  min-width: 20px !important;
  max-width: 20px;
}

.leituraDados {
  display: flex;
  flex-direction: column;
}

.leituraDadosLinha {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 8px 0px 12px 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

leitura .leituraDadosLinha:nth-child(1) .leituraDadosContainer {
  max-width: 50%;
}

.leituraDadosContainer {
  width: 100%;
  max-width: 33.33%;
  padding: 0px 4px 0px 4px;
}

.tintas {
  width: 0px;
  padding: 0px;
  opacity: 0;
  display: none;
}

.leituraDadosContainer img {
  width: 30px;
  margin-bottom: -8px;
}

.leituraDadosTitulo {
  font-size: 12px;
  color: var(--titulos);
  width: 100%;
}

.leituraDadosTexto {
  font-size: 14px;
  color: var(--textos);
  width: 100%;
  margin: 4px 0px 0px 0px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.leituraDadosTextoGrande {
  font-size: 18px;
  color: var(--textos);
  width: 100%;
  margin: 4px 0px 0px 0px;
  font-weight: 600;
}

#leituraExpandida {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.65);
  z-index: 998;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

leituraExpandida {
  width: 75%;
  height: 600px;
  min-width: 800px;
  background-color: white;
  margin: auto;
}

leituraExpandida select {
  margin: auto;
  border: none;
  text-align-last: center;
  outline: none;
  font-weight: 600 !important;
  color: var(--textos);
  font-size: 14px;
}

leituraExpandida select option {
  text-align-last: center;
}

leituraExpandida #titulo {
  width: calc(100% - 16px);
  padding: 4px 8px;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  background-color: var(--principal);
  color: white;
}

leituraExpandida #nome {
  width: 100%;
  line-height: 33.6px;
}

leituraExpandida #acoes {
  display: flex;
}

leituraExpandida #acoes i {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

leituraExpandida #acoes i:hover {
  background-color: var(--hover);
}

leituraExpandida #conteudo {
  width: 100%;
  height: calc(100% - 50px);
  min-height: 550px;
  position: relative;
}

leituraExpandida #conteudo filtro {
  margin-right: 8px;
  width: calc(100% - 16px);
}

listagemImpressoras {
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 4px;
  height: 100%;
  max-height: calc(100% - 100px);
  position: relative;
}

impressora {
  width: calc(50% - 14px);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 8px 4px 4px 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

impressora .leituraTitulo {
  background-color: var(--principal);
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  padding: 4px;
  width: calc(100% - 8px);
  cursor: default !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

impressora .leituraTitulo i {
  font-size: 14px !important;
  line-height: 14px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

impressora .leituraTitulo:hover .fas {
  opacity: 1;
  min-width: 14px !important;
  max-width: 14px;
}

impressora .leituraDadosLinha:nth-child(1) .leituraDadosContainer {
  max-width: 100%;
}

impressora .leituraDadosLinha:nth-child(3) .leituraDadosContainer {
  max-width: 50%;
}

impressora .leituraDadosLinha:nth-child(4) .leituraDadosContainer {
  max-width: 50%;
}

impressora .leituraDadosLinha:nth-child(5) .leituraDadosContainer {
  max-width: 50%;
}

.tinta select{
  margin-top: 4px;
}

.tinta img {
  margin-top: -5px;
  cursor: pointer;
}

impressora i {
  font-size: 14px;
  margin-top: 2px;
  border-radius: 14px;
  padding: 6px;
  text-align: center;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

impressora i:hover {
  background-color: var(--hover);
}

impressora .leituraDados {
  display: flex;
  flex-direction: column;
  padding: 0px 4px 0px 4px;
}

.listagemRodape {
  width: calc(100% - 16px);
  display: flex;
  padding: 4px 0px 4px 0px;
  margin: 0px 8px 0px 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  bottom: 8px;
  position: absolute;
  border-radius: 12px;
}

.listagemRodapeItem {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: var(--titulos);
}

.listagemRodapeItem:nth-of-type(1) {
  border-right: solid 1px var(--bordas);
}

.listagemRodapeItem:nth-of-type(2) {
  border-right: solid 1px var(--bordas);
}

.listagemRodapeItem:nth-of-type(3) {
  border-right: solid 0px var(--bordas);
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background :transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background: transparent; }
}

.pessoasContainer {
  width: 100%;
  padding: 5px 0px;
  margin-left: 4px;
}

pessoasContainer {
  width: 100%;
  display: block;
}

.pessoasTitulo {
  color: var(--principal);
  font-size: 22px;
  padding: 8px;
}

.pessoasListagem {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 442px;
  padding: 2px 0px;
}

.pessoasListagem::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
  background: white;
}

.pessoasListagem::-webkit-scrollbar-thumb {
  background: #aaa;
}

#inativos, .tec {
  max-height: 177px;
}

#feitos {
  max-height: 188px;
}

#fornecedores {
  max-height: 228px;
}

.cliente {
  width: calc(100% - 8px);
  font-size: 14px;
  color: var(--textos);
  display: flex;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  padding: 5px 0px;
  margin: 4px;
}

.cliente div {
  line-height: 30px;
  height: 30px;
  padding: 0px 8px;
}

.cliente #nome {
  width: 100%;
  border-right: solid 1px var(--bordas);
  font-weight: 600;
  padding-left: 16px;
}

.cliente #chave {
  min-width: 124px;
  font-size: 12px;
  color: var(--titulos);
  border-right: solid 1px var(--bordas);
  margin-right: 5px;
}

.cliente i {
  cursor: pointer;
  min-width: 20px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  max-height: 20px;
  line-height: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.cliente i:hover {
  background-color: var(--hover);
}

#clienteExpandido {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.65);
  z-index: 998;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

clienteExpandido {
  width: 75%;
  min-width: 800px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 600px;
}

clienteExpandido #titulo {
  width: calc(100% - 16px) !important;
  padding: 4px 8px;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  background-color: var(--principal);
  color: white;
  margin: 0
}

clienteExpandido #nome {
  width: 100%;
  line-height: 33.6px;
}

clienteExpandido #acoes {
  display: flex;
}

clienteExpandido #acoes i {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#printers {
  display: none;
}

clienteExpandido #acoes i:hover {
  background-color: var(--hover);
}

clienteExpandido section {
  margin-top: 26px;
  display: flex;
}

clienteExpandido input {
  text-transform: capitalize;
}

clienteExpandido section:nth-child(4) .group:nth-child(1) {
  margin-right: 4px;
  max-width: 300px;
}

clienteExpandido section:nth-child(4) .group:nth-child(2) {
  margin-left: 4px;
}

clienteExpandido section:nth-child(4) .group:nth-child(2) input {
  text-transform: lowercase;
}

clienteExpandido section:nth-child(5) .group:nth-child(1) {
  margin-right: 4px;
}

clienteExpandido section:nth-child(5) .group:nth-child(2) {
  margin-left: 4px;
}

clienteExpandido section:nth-child(6) .group:nth-child(1) {
  margin-right: 4px;
}

clienteExpandido section:nth-child(6) .group:nth-child(2) {
  margin-left: 4px;
  max-width: 150px;
}

clienteExpandido section:nth-child(7) .group:nth-child(1) {
  margin-right: 4px;
}

clienteExpandido section:nth-child(7) .group:nth-child(2) {
  margin-right: 4px;
  margin-left: 4px;
}

clienteExpandido section:nth-child(7) .group:nth-child(3) {
  margin-right: 4px;
  margin-left: 4px;
  max-width: 70px;
}

clienteExpandido section:nth-child(7) .group:nth-child(3) input {
  text-transform: uppercase;
}

clienteExpandido section:nth-child(7) .group:nth-child(4) {
  margin-left: 4px;
  max-width: 200px;
}

.semana {
  height: 100%;
  margin-top: 26px;
  position: relative;
  max-height: 78px;
}

.semana .group {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  margin-top: 4px;
}

.semanalbl {
  top: -20px;
  font-size: 15px;
  color: var(--principal);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 13px;
}

.semanaDia {
  border-right: solid 1px var(--bordas);
  border-left: solid 1px var(--bordas);
  width: 100%;
  height: fit-content;
  padding: 0px 8px 0px 5px;
  margin-left: -1px;
}

.semanaDia:nth-child(1) {
  border-left: solid 0px var(--bordas);
}

.semanaDia:nth-child(7) {
  border-right: solid 0px var(--bordas);
}

.horarios {
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  height: 0px;
  opacity: 0;
}

.horario {
  display: flex;
  height: fit-content;
  padding-top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.horario span {
  padding: 0px 4px 0px 4px;
}

.hora {
  max-width: 100px;
}

input[type=checkbox] {
  position: relative;
	cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 12px;
  top: 0;
  left: 0;
  border: 1px solid var(--bordas);
  border-radius: 3px;
  background-color: white;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 3px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 6px;
}

.tipo {
  width: fit-content;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid var(--bordas);
  margin-left: 0px;
  display: none;
}

.tipo .lbl {
  top: -20px;
  font-size: 15px;
  color: var(--principal);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
}

#tipoCliente {
  border: none;
  outline: none;
}

atendimento {
  width: calc(100% - 12px);
  margin: 4px 4px 4px 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  font-size: 14px;
  border-radius: 21px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  color: var(--textos);
}

.atendido {
  color: white;
  background-color: var(--resolvido);
  border-color: white !important;
}

atendimento span {
  font-size: 10px;
  color: var(--principal);
  position: absolute;
  top: 0;
}

atendimento section {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px;
  padding-top: 14px;
  cursor: default;
}

atendimento section:nth-of-type(1) {
  min-width: 82px;
  margin-left: 16px;
  margin-right: 8px;
  border-right: solid 1px var(--bordas);

}

atendimento section:nth-of-type(2) {
  min-width: 200px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px var(--bordas);
  font-weight: 600;
}

atendimento section:nth-of-type(3) {
  min-width: 100px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px var(--bordas);
}

atendimento section:nth-of-type(4) {
  width: 100%;
  border-right: solid 1px var(--bordas);
  padding-right: 5px; 
  margin-right: 5px;
}

atendimento i {
  cursor: pointer;
  min-width: 20px;
  max-height: 20px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  line-height: 20px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

atendimento i:hover {
  background-color: var(--hover);
}

#atendimentoExpandido {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.65);
  z-index: 996;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

atendimentoExpandido {
  width: 75%;
  height: 600px;
  min-width: 800px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

atendimentoExpandido select {
  border: none;
  border-bottom: solid 1px var(--bordas);
  outline: none;
  width: 100%;
  font-weight: 600 !important;
  color: var(--textos);
  font-size: 14px;
  height: 30px;
}

atendimentoExpandido select:disabled {
  cursor: default !important;
}

atendimentoExpandido select option {
  text-align-last: center;
}

atendimentoExpandido section {
  padding-top: 32px;
  width: 100%;
  display: flex;
}

atendimentoExpandido section:nth-of-type(4) {
  padding-top: 8px;
  width: 100%;
  display: flex;
}

.atendimentoCliente {
  width: 100%;
  margin-bottom: 6px;
  position: relative;
  display: flex;
}

.atendimentoCliente i {
  opacity: 0;
  min-width: 0px;
  max-width: 0px;
  max-height: 0px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-right: 8px;
  line-height: 20px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.atendimentoCliente i:hover {
  background-color: var(--hover);
}

#dados {
  padding: 0px 8px;
  font-size: 12px;
  color: var(--titulos);
  flex-direction: column;
  margin-top: 0px;
  width: calc(100% - 16px);
  opacity: 0;
  height: 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#dados div {
  padding: 1px 0px 2px 0px;
}

atendimentoExpandido #titulo {
  width: calc(100% - 16px) !important;
  padding: 4px 8px;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  background-color: var(--principal);
  color: white;
  margin: 0
}

atendimentoExpandido #nome {
  width: 100%;
  line-height: 33.6px;
}

atendimentoExpandido #acoes {
  display: flex;
}

atendimentoExpandido #acoes i {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  cursor: pointer !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

atendimentoExpandido #acoes i:hover {
  background-color: var(--hover);
}

/*
#dados {
  height: 0px;
  opacity: 0;
}
*/

.atendimentoSelect {
  padding: 8px;
}

.atendimentoSelect div {
  color: var(--textos);
  height: 30px;
  width: 100%;
}

.atendimentoSelect:nth-of-type(1) {
  width: 100%;
}

.atendimentoSelect:nth-of-type(2) {
  min-width: 300px;
}

#motivos {
  height: 308px;
  max-height: 308px;
  position: relative;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#motivos .label {
  color: var(--principal);
  font-size: 14px;
  position: absolute;
  top: 12px;
  left: 8px;
}

.motivos-dots {
  height: 100%;
  width: 1px;
  border-right: dashed 2px var(--dots);
  margin-left: 8px;
}

.motivos {
  margin-top: 32px;
  padding-top: 1px;
}

.motivo-list {
  width: 100%;
  overflow: hidden;
  max-height: 308px;
  overflow-y: auto;
  height: 308px;
}

.motivo-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background: rgba(0,0,0,0);
  padding-right: 2px;
}

.motivo-list::-webkit-scrollbar-thumb {
  background: var(--menuScroll);
}

.motivo-list i {
  color: var(--textos);
  cursor: pointer;
  min-width: 20px;
  max-height: 20px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-left: 8px;
  line-height: 20px !important;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.motivo-list i:hover {
  background-color: var(--hover);
}

.motivo {
  width: calc(100% - 2px); 
  margin-bottom: 6px;
  margin-left: 2px;
  display: flex;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.motivo-dots {
  min-width: 12px;
  max-width: 12px;
  margin: 50px 0px auto 0px;
  height: 1px;
  border-bottom: dashed 2px var(--dots);
}

.add {
  margin: 14px 0px auto 0px;
}

.quantidade {
  width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.autocomplete {
	height: auto;
	max-height: 250px;
  z-index: 997;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 38px;
  width: 100%;
  background-color: white;
}

.autocomplete div {
  color: var(--textos);
  padding: 10px;
  cursor: pointer;
  height: 18px;
  background-color: white;
  border-bottom: 1px solid var(--bordas);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.autocomplete div:hover {

  background-color: var(--hover);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.autocomplete-active {
  background-color: var(--principal) !important;
  color: #fff;
}

.autocomplete::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
  background: white;
}

.autocomplete::-webkit-scrollbar-thumb {
  background: #aaa;
}

.suprimentos {
  max-height: calc(100vh - 60px);
}

suprimento {
  height: 36px;
  width: calc(100% - 12px);
  margin: 4px 4px 4px 8px;
  padding-top: 6px;
  display: flex;
  font-size: 14px;
  border-radius: 21px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  color: var(--textos);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

suprimento span {
  font-size: 10px;
  color: var(--principal);
  position: absolute;
  top: 0;
}

suprimento section {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px;
  padding-top: 14px;
  cursor: default;
  margin-bottom: 6px;
}

suprimento section:nth-of-type(1) {
  width: 100%;
  margin-left: 16px;
  margin-right: 8px;
  border-right: solid 1px var(--bordas);

}

suprimento section:nth-of-type(2) {
  min-width: 100px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px var(--bordas);
}

suprimento section:nth-of-type(3) {
  min-width: 100px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px var(--bordas);
}

suprimento .simpleInput {
  width: 100%;
  border-bottom: none;
  text-align: left;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
}

suprimento i {
  cursor: pointer;
  min-width: 20px;
  max-height: 20px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  line-height: 20px !important;
  transition: 0.2s ease all, 0.1s ease opacity;
  -moz-transition: 0.2s ease all, 0.1s ease opacity;
  -webkit-transition: 0.2s ease all, 0.1s ease opacity;
}

suprimento i:hover {
  background-color: var(--hover);
}

.suprimento {
  margin: 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.sups {
  height: fit-content;
  margin: 4px 4px 4px 13px;
  display: flex;
  font-size: 18px;
  color: var(--textos);
  padding: 5px;
  text-align: center;
}

.sups i {
  padding: 5px;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.sups i:hover {
  background-color: var(--hover);
}

.acabando {
  color: var(--erro)
}