:root {
  --bordas: #757575;
	--principal: #0059b3;
	--principalHover: #014487;
	--principalLight: rgba(52,152,219,.15);
	--textos: #5d5d5d;
	--placeholders: #999;
	--hover: rgba(0,0,0,.2);
  --erro: #c0392b;
}

body {
	font-family: Trebuchet MS !important;
	font-size:14px !important;
  overflow: hidden;
  width: 100vw;
	height: 100vh;
	margin: 0;
}

#load ::after, #load ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#load {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 999;
	transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#load img {
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
}

#login {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  text-align: center;
  transition: 0.2s ease opacity;
  -moz-transition: 0.2s ease opacity;
  -webkit-transition: 0.2s ease opacity;
}

#login img {
  width: 250px;
  margin-bottom: 30px;
}

#usuario {
  margin-top: 2px;
}

#senha {
  margin-top: -2px;
}

.group {
  position: relative;
  margin-bottom: 30px;
  width: 250px;
}

.inpt {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 235px;
  border: none;
  border-bottom: 1px solid var(--bordas);
}

.inpt:focus {
  outline: none;
}

.inpt:focus ~ .bar:before, .inpt:focus ~ .bar:after {
  width: 50%;
}

.inpt:focus ~ .lbl, .inpt:valid ~ .lbl {
  top: -20px;
  font-size: 15px;
  color: var(--principal);
}

.inpt:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.highlight {
	position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.bar {
	position: relative;
  display: block;
  width: 250px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--principal);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.lbl {
  color: var(--placeholders);
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#login button {
	width: 250px;
  height: 35px;
  background-color: var(--principal);
  border: 0px;
  color: white;
  margin: auto;
  border-radius: 2px;
  box-shadow:	0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 0 rgba(60,64,67,0.15);
  cursor: pointer;
	transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

#login button:hover {
  background-color: var(--principalHover);
}

.download {
	position: fixed;
  bottom: 8px;
  right: 8px;
  font-size: 20px;
  color: var(--textos);
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
	transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.download i {
  padding: 5px;
}

.download:hover{
  background-color: var(--hover);
}

#error {
  background-color: var(--erro);
  color: white;
  font-size: 14px;
  width: 450px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  padding: 22px;
  z-index: 99;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -225px;
  text-align: center;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background :transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background: transparent; }
}
@keyframes inputHighlighter {
	from { background: var(--principal); }
  to { width: 0; background: transparent; }
}
