#menu {
  display: none;
}

filtro {
  width: 100%;
}

filtro section:nth-child(2) {
  border-right: 0;
}

filtro section:nth-child(3), filtro section:nth-child(4) {
  display: none;
}

leitura {
  width: calc(50% - 12px);
  margin-top: 12px;
  margin-bottom: 12px;
}

#feedback, #error, #load {
  display: none;
}

body {
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  width: 100%;
}

listagem {
  margin: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
